<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Chat Page for {{ username }}</title>
</head>
    <header class="masthead" style="background-image: url('https://images.alphacoders.com/605/thumb-1920-605799.jpg')">
        <div class="overlay"></div>
            <div class="container">
                <div class="row">
                </div>
            </div>
    </header>
<body>
    <h1>Welcome to the chat app, {{ username }}</h1>

    <form method="POST">
        <textarea cols="50" rows="4" name="message" id="message"></textarea>
        <br>
        <button>Send Message!</button>
    </form>

    {% for message in chat_messages %}
        <p>({{ message.timestamp }}) {{ message.from }}: {{ message.message }}</p>
    {% endfor %}

    <script>

    let textbox = document.GetElementById("message")


    let timer = setTimeout(function(){
        location.reload();
    }, 5000)

    textbox.onkeydown = function(e){
        clearTimeout(timer)

        timer = setTimeout(function(){
            location.reload();
        }, 5000)
    }

    </script>
</body>
</html>