<html>
    <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <title>Home Page</title>
    </head>
    <header class="masthead" style="background-image: url('https://images.alphacoders.com/605/thumb-1920-605799.jpg')">
        <div class="overlay"></div>
            <div class="container">
                <div class="row">
                </div>
            </div>
    </header>
    <body>
        <form method = POST>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <button>Go to Chat!</button>
        </form>
    </body>
</html>