@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    background: url(https://i.pinimg.com/originals/65/8b/e6/658be6653e3fc17a9e75954c76e6706a.jpg)center no-repeat;
}

h1 {
    font-size: 1.8em;
    font-family: "bangers", sans-serif;
}

