@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    background-image: url(https://i.pinimg.com/originals/65/8b/e6/658be6653e3fc17a9e75954c76e6706a.jpg);
    width: 100px
}

h1 {
    font-size: 1.2em;
    font-family: "bangers", sans-serif;
}

